

<form action="/stores" method="post">
  
  <legend>Add a store</legend>

    <label>Store Name:</label>
    <input type="text" name="name">

    <label>Store Address:</label>
    <input type="text" name="address">

    <label>Store Stock Type</label>
    <input type="text" name="stock_type">

    <button type="submit">Add Store</button>

</form>