<!DOCTYPE html>
<html>
<head>
  <title>Pet Store Manager</title>
  <link rel="stylesheet" type="text/css" href="/store_manager_stylesheet.css">
</head>
<body>

  <header>Pocket Pet Stores</header>

  <%= yield %>

</body>
</html>